# Comando para generar las key: openssl rand -hex 32

DJANGO_SECRET_KEY=cambiar_por_cadena_segura_generada_con_openssl
JWT_SIGNING_KEY=cambiar_por_cadena_segura_generada_con_openssl

# Nombre de la base de datos a conectar
POSTGRESQL_DATABASE=nombre_de_tu_bd

# Usuario de la base de datos (usualmente 'postgres' en local)
POSTGRESQL_USER=postgres

# Contraseña del usuario
# Nota: Si usas caracteres especiales, asegúrate de que sean compatibles con la URL de conexión.
POSTGRESQL_PASSWORD=cambiar_por_contraseña_segura

# Dirección del host
# Usa 'localhost' si la BD está en tu máquina.
POSTGRESQL_HOST=localhost

# Puerto de conexión (5432 es el default de PostgreSQL)
POSTGRESQL_PORT=5432

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

CELERY_TIMEZONE=America/Mexico_City

DJANGO_SETTINGS_MODULE=config.dev