.preconfiguracionesContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.formDescription{
    font-size: 2.3rem;
    margin: 0;
    color: white;
    font-family: "Oswald", sans-serif;
    margin: 2rem 2rem 1rem 2rem;
}

.formOptions{
    display: flex;
    justify-content: flex-start;
    margin: 2rem 1rem 0 1rem;
    
}

.preconfiguracionesMainContainer{
    margin: 0 2rem;
}

.preconfigContainer button{
    margin: 2rem 2rem 0 2rem;
}

.noPresets{
    font-size: 1.6rem;
    color: white;
    font-family: 'Lato', sans-serif;
    grid-column: -1;
    font-weight: 600;
    text-align: center;
}

.datePickerSlider{
    margin: 1rem 2rem 0 2rem;
    padding: 1rem 3rem;
    border-radius: 2rem;
    background-color: rgb(255, 226, 172);
}

.datePickerSlider p,
.datePickerSlider strong{
    font-size: 1.4rem;
    font-family: 'Lato', sans-serif;
}

.pickerExplanation{
    font-size: 1.6rem;
    color: white;
    font-family: 'Oswald', sans-serif;
    margin: 0 2rem;
}

.pickerManual{
    margin: 0;
}

@media(max-width: 31.25em){
    .preconfiguracionesContainer{
        grid-template-columns: 1fr;
    }
}