.card {
    display: flex;
    align-items: center;
    background-color: #ffffff58;
    backdrop-filter: blur(6px);
    border: .1rem solid white;
    border-radius: 1.5rem;
    padding: 2rem 1.5rem 2rem 1.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: 0.2s ease-in-out;
    width: 100%;
    position: relative;
    gap: 1.2rem;
    height: 11rem
}

.card button{
    opacity: 0;
}

.card:hover{
    padding-left: 5rem;
}

.card:hover button{
    opacity: 1;
}

.card:hover {
    background-color: rgb(255, 249, 242);
    transform: scale(1.03);
    box-shadow: 0 4px 12px rgba(255, 165, 0, 0.4);
}

.name {
    font-family: 'Oswald', sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
    color: #3c3c3c;
}

@media(max-width: 81.25em){
    .card button{
        opacity: 1;
    }
    .card{
        padding-left: 5rem;
    }
}