#primary-buttons span{
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #7ef0ff;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.25 ease-in-out;
}

#primary-buttons:hover span{
    transform: scaleX(1);
    transform-origin: left;
}