.preconfiguracionContainer{
    padding: 1rem;
    border-radius: 1rem;
    color: white;
    transition: .3s;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0px 0px 50px 0px #3D2117;
}

.preconfiguracionContainer:hover{
    background-color: rgb(103, 48, 0);
}

.preconfiguracionContainer button{
    opacity: 0;
    visibility: hidden;
}

.preconfiguracionContainer:hover button{
    opacity: 1;
    visibility: visible;
}

.title{
    font-size: 1.8rem;
    font-family: 'Oswald', sans-serif;
}
.description{
    font-size: 1.4rem;
    font-family: 'Lato', sans-serif;
}

.preconfiguracionPorcentajes{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.preconfiguracionPorcentaje span,
.preconfiguracionPorcentajes{
    display: flex;
    gap: 1rem;
    font-size: 1.6rem;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.preconfiguracionPorcentaje{
    font-size: 1.6rem;
    background-color: rgb(103, 48, 0);
    padding: .2rem .5rem;
    border-radius: 1rem;
}

.activeSetting{
    background: rgb(241,180,52);
    background: -moz-linear-gradient(135deg, rgba(241,180,52,1) 27%, rgba(252,115,2,1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(241,180,52,1) 27%, rgba(252,115,2,1) 100%);
    background: linear-gradient(135deg, rgba(241,180,52,1) 27%, rgba(252,115,2,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f1b434",endColorstr="#fc7302",GradientType=1);  
    box-shadow: 0 4px 12px rgba(255, 166, 0, 0.708);
    transform: translateY(-2px);
}

.activeSetting .preconfiguracionPorcentaje{
    background-color: rgb(255, 123, 0);
}

.preconfiguracionNoFormContainer{
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0px 4px 12px rgb(0, 0, 0, .05);
    backdrop-filter: blur(6px);
    border: .1rem solid white;
    height: 100%;
    transition: .3s ease-in-out;
}

.preconfiguracionNoFormContainer .title,
.preconfiguracionNoFormContainer .description{
    color: #23130d;
}

.preconfiguracionNoFormContainer:hover{
    background-color: rgb(255, 252, 248);
    box-shadow: 0 4px 12px rgba(255, 165, 0, 0.4);
    transform: scale(1.03);   
    padding-left: 5.5rem;
}

@media(max-width: 78.125em){
    .preconfiguracionNoFormContainer{
        padding-left: 5.5rem;
    }
    .preconfiguracionNoFormContainer button{
        opacity: 1;
        visibility: visible;
    }
}