.recipePreparationContainer{
    color: #23130d;
    border-radius: 2rem;
    margin-top: 2rem;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.525);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    height: max-content;
    width: 100%;
    border: .2rem solid white;
}

.recipeContentsText{
    font-size: 2.5rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}

@media(max-width: 68.75em){
    .recipePreparationContainer{
        position: absolute;
        top: 100%;
        width: 98%;
    }
}

@media(max-width: 37.5em){
    .recipeContentsText{
        font-size: 2rem;
    }
    .recipePreparationContainer{
        width: 100%;
    }
}