.rightSidebarContainer{
    display: block;
    position: fixed;
    background-color: #23130d;
    height: 100%;
    width: 45rem;
    right: -46rem;
    z-index: 13;
    transition: .3s;
    overflow-y: scroll;
    padding-bottom: 2rem;
}

.rightSidebarFilter{
    top: 0;
    left: 0;
    display: block;
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    z-index: 12;
}

.rightSidebarOpen{
    right: 0;
}

.rightSidebarFilterOpen{
    backdrop-filter: brightness(40%);
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.rightSidebarClose{
    top: 1.5rem;
    right: -47rem;
    cursor: pointer;
    position: fixed;
    border: .1rem solid #212322;
    z-index: 12;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-family: "Oswald", sans-serif;
    font-weight: 900;
    transition: .6s right;
}

.rightSidebarCloseActive{
    right: 47rem;
}

.rightSidebarClose:hover{
    color: white;
    background-color: #212322;
}

@media(max-width: 37.5em){
    .rightSidebarContainer{
        width: 100%;
    }
    .rightSidebarCloseActive{
        right: 2rem;
    }
    .rightSidebarClose{
        z-index: 14;
        width: 4rem;
        height: 4rem;
        font-size: 2rem;
    }
}