.main_content_search_bar_button:hover {
    color: rgba(33, 35, 34, 1);
}

.main_content_search_bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    position: relative;
}
  
.search_bar {
    position: relative;
    width: 35rem;
    padding: 0.8rem 1.5rem;
    border-radius: 25px;
    background: rgba(238, 238, 238, 0.8);
    border: 1px solid rgba(180, 180, 180, 0.5);
    font-family: "Segoe UI", sans-serif;
    font-size: 1.4rem;
    outline: none;
    transition: background 0.3s, border 0.3s;
}
  
.search_bar:focus {
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid rgba(124, 124, 124, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.main_content_search_bar_button {
    position: absolute;
    right: 35%;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 2.5rem;
    color: rgba(33, 35, 34, 0.7);
    transition: color 0.3s ease;

    & svg{
        width: 1.8rem;
        height: 1.8rem;
    }
}

.search_bar_buttons{
    display: flex;
}

.mobileFilterPicker{
    display: none;
}

@media(max-width: 59.375em){
    .main_content_search_bar{
        padding: .5rem;
    }
    .search_bar{
        width: 25rem;
        padding: 0.4rem 1rem;
    }
    .search_bar_buttons{
        flex-direction: column;
    }
    .main_content_search_bar_button{
        right: 30%;
    }
}

@media(max-width: 37.5em){
    .main_content_search_bar{
        flex-direction: row;
        position: relative;
    }
    .search_bar_buttons{
        flex-direction: column;
        margin: .5rem 1rem 0 .5rem;
        align-items: left;
        justify-content: left;
        width: 100%;
        position: absolute;
        background-color: rgb(238, 238, 238);
        border-radius: 1rem;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.224);
        transition: .3s;
        padding: 1rem;
        opacity: 0;
        visibility: hidden;
        width: max-content;
        top: 0%;
        left: 40%;
    }
    .search_bar{
        width: 100%;
        font-size: 1.2rem;
        padding: 0.4rem 1rem;
    }
    .main_content_search_bar_button{
        right: 22%;
        top: 29%;
        background-color: rgb(238, 238, 238);
    }

    .main_content_search_bar:focus-within .main_content_search_bar_button {
        background-color: white;
    }

    .mobileFilterPicker{
        display: block;
        transition: .3s;
        margin: .5rem;
        border-radius: .5rem;
    }

    .mobileFilterPicker svg{
        width: 2.5rem;
        height: 2.5rem;
    }

    .pickerActiveButton{
        background-color: #23130d;
    }

    .pickerActiveButton{
        color: orange;
    }

    .filterPickerActiveOptions{
        top: 100%;
        opacity: 1;
        visibility: visible;
        left: 40%;
    }
}