.planAlimenticioSeparation{
    display: grid;
    grid-template-columns: 1fr 40rem;
    grid-gap: 1rem;
}

.planMainContent{
    margin-top: 1rem;
}

.planImportantData{
    margin-right: 1rem;
    opacity: 1;
    transition: .5s;
    visibility: visible;
}

.hiddenImportantData.planImportantData,
.hiddenChart{
    opacity: 0 !important;
    visibility: hidden !important;
}

.daysContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0 1rem;
    background-color: rgba(255, 255, 255, 0.505);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    max-width: max-content;
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
}

.pdfDaysContainer{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.dias{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .5rem 0;
    border-radius: 2rem;
    cursor: pointer;
    padding: 0 1.5rem;
    transition: .3s;
}

.dias:hover{
    background-color: rgb(214, 214, 214);
    transform: scale(1.03);
}

.diaNumero{
    font-family: 'Oswald', sans-serif;
    font-size: 2.5rem;
}

.diaTexto{
    margin-left: .8rem;
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
}

.activeDay.dias{
    box-shadow: 0 1px 8px rgba(255, 123, 0, 0.648);
    color: white;
    transform: scale(1.03);
    background: rgb(241,180,52);
    background: -moz-linear-gradient(45deg, rgba(241,180,52,1) 27%, rgba(252,115,2,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(241,180,52,1) 27%, rgba(252,115,2,1) 100%);
    background: linear-gradient(45deg, rgba(241,180,52,1) 27%, rgba(252,115,2,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f1b434",endColorstr="#fc7302",GradientType=1); 
}

.recipeAddIcon svg{
    width: 5rem;
    height: 5rem;
}

.addRecipes{
    cursor: pointer;
    padding: 2rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    border: .4rem dashed orange;
    color: rgb(255, 140, 0);
    background-color: rgba(255, 190, 70, 0.193);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    border-radius: 2rem;
    font-size: 2rem;
    transition: .3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
}

.addRecipes:hover{
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(255, 111, 0, 0.507);
    background-color: orange;
    color: white;
}

.recipeNutritionTable{
    padding: 2rem;
    background: rgb(241,180,52);
    background: -moz-linear-gradient(45deg, rgba(241,180,52,1) 27%, rgba(252,115,2,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(241,180,52,1) 27%, rgba(252,115,2,1) 100%);
    background: linear-gradient(45deg, rgba(241,180,52,1) 27%, rgba(252,115,2,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f1b434",endColorstr="#fc7302",GradientType=1);
    border-radius: 2rem;
}

.headerInfoNutricional{
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    color: white;
    margin-bottom: 1rem;
}

.ingredientsContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.recipeContentsUsefulData,
.planTimesContainer{
    margin-top: 2rem;
    background-color: rgba(255, 255, 255, 0.297);
    border: .1rem solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    padding: 1rem;
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
}

.recipeContentsText,
.recipeNutrientsPerCaloriesHeader,
.planTimesDescription{
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    margin-left: .5rem;
}

.objectiveChartSingle h4{
    font-size: 1.6rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: -1rem;
}

.recipeNutrientsPerCalories{
    height: 33rem;
    margin-top: 2rem;
    border: .1rem solid white;
    background-color: rgba(255, 255, 255, 0.331);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 2rem;
    padding: 1rem;
    width: 100%;
}

.objectiveCharts{
    width: 100%;
    padding-right: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
    grid-auto-rows: max-content;
    justify-content: stretch; /* Ensures full width */
    align-items: start;
    gap: 2.5rem; /* Modern syntax for `grid-gap` */
    width: 100%; /* Ensures it takes full available space */
    margin: 2rem 0;
}

.objectiveChartSingle{
    opacity: 1;
    visibility: visible;
    height: 25rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.293);
    border: .1rem solid white;
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.118);
    border-radius: 2rem;
    transition: .5s;
}

.timePreparation{
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    gap: .5rem;
}

.timePreparation svg{
    width: 2.5rem;
    height: 2.5rem;
    fill: #ff9500;
}

.timePreparation:nth-child(1) svg{
    fill: #f1b434;
}

.planTimes{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.addRecipesTip{
    grid-column: 1 / -1;
    font-size: 3rem;
    color: #23130d;
    text-align: left;
    font-family: "Oswald", sans-serif;
}

.hiddenTip{
    display: none;
}

.datePicker{
    margin-top: 10rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.datePickerContainer{
    width: max-content;
    padding: 1rem 4rem;
    background-color: rgba(255, 255, 255, 0.505);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
}

.datePicker h2{
    font-family: 'Oswald', sans-serif;
    margin-bottom: 3rem;
    text-align: center;
    font-size: 2.2rem;
}

.datePicker p,
.datePicker strong{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
}

.datePicker section{
    width: 40rem;
}

.buttonDatePicker{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

@media(max-width: 75em){
    .planAlimenticioSeparation{
        grid-template-columns: 1fr;
    }
    .daysContainer{
        justify-self: center;
    }
    .objectiveCharts{
        padding-right: 0;
    }
    .planImportantData{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        margin-right: 2rem;
    }
    .recipeNutrientsPerCalories{
        margin-top: 0;
    }
    .recipeContentsUsefulData,
    .recipeNutritionTable{
        align-self: stretch;
        height: 100%;
        margin-top: 0;
    }
    .planTimesContainer{
        margin-top: 0;
    }

    .objectiveCharts{
        padding-right: 2rem;
    }
}

@media(max-width: 50em){
    .planImportantData{
        grid-template-columns: 1fr;
    }
    .recipeNutrientsPerCalories{
        grid-column: 1 / 2;
        margin-top: 0;
    }
}

@media(max-width: 46.9375em){
    .diaNumero{
        font-size: 2rem;
    }
    .diaTexto{
        font-size: 1.5rem;
    }
    .dias{
        margin: .3rem 0;
        padding: 0 1rem;
    }
    .addRecipes{
        font-size: 1.6rem;
    }
    .pdfDaysContainer{
        justify-content: center;
    }
}

@media(max-width: 37.5em){
    .datePickerContainer,
    .datePicker section{
        width: 100% !important;
    }

    .datePickerContainer button{
        font-size: 1.8rem !important;
    }
}

@media(max-width: 34.375em){
    .planImportantData{
        margin-right: 0;
    }

    .addRecipesTip{
        font-size: 2rem;
    }
}