.searchRecipesContainer{
    margin-top: 1rem;
}

.filterOptions{
    display: flex;
    margin-right: 1rem;
}

.filterOptionsContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.usersNotFound{
    font-size: 3rem;
    color: #23130d;
    text-align: center;
    margin-top: 3rem;
    font-family: "Oswald", sans-serif;
}

@media(max-width: 31.25em){
    .filterOptionsContainer{
        flex-direction: column-reverse;
    }
    .filterOptions{
        margin-top: 1rem;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .usersNotFound{
        font-size: 2rem;
    }
}