.searchRecipesContainer{
    margin-top: 1rem;
}

.filterOptions{
    display: flex;
    margin-right: 1rem;
    align-items: center;
}

.filterOptionsContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.usersNotFound{
    font-size: 3rem;
    color: #23130d;
    text-align: center;
    margin-top: 3rem;
    font-family: "Oswald", sans-serif;
}

.closeFilters{
    transition: .2s;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: min-content;
}

.closeFilters svg{
    width: 4rem;
    fill: #a18a81;
    height: 4rem;
    cursor: pointer;
}

.closeFilters:hover{
    background-color: #23130d;
}

.closeFilters:hover svg{
    fill: #ff710c;
}

@media(max-width: 31.25em){
    .filterOptionsContainer{
        flex-direction: column-reverse;
    }
    .filterOptions{
        margin-top: 1rem;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .usersNotFound{
        font-size: 2rem;
    }
}