.formDescription{
    font-size: 2.3rem;
    margin: 0;
    color: white;
    font-family: "Oswald", sans-serif;
    margin: 2rem 2rem 1rem 2rem;
}

.formOptions{
    display: flex;
    justify-content: flex-start;
    margin: 2rem 1rem 0 1rem;
    
}

.imageUploadContainer{
    margin: 0rem 2rem;
}

.opcionItem{
    padding: 2rem;
    border-radius: 1rem;
    color: white;
    transition: .3s;
    position: relative;
    box-shadow: inset 0px 0px 50px 0px #3D2117;
    margin: 2rem 2rem;
    transition: .3s;
}

.opcionItem button{
    opacity: 0;
    visibility: hidden;
}

.opcionItem .opcionNombre{
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    transition: .3s;
}

.opcionItem .opcionCantidad{
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
    color: orange;
    font-weight: 600;
    transition: .3s;
}

.opcionItem:hover{
    background-color: #3D2117;
}

.opcionItem:hover button{
    opacity: 1;
    visibility: visible;
}


.opcionItem:hover .opcionNombre,
.opcionItem:hover .opcionCantidad{
    margin-left: 4rem;
}

.noOptions{
    font-size: 1.6rem;
    color: rgb(146, 146, 146);
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    margin: 0 2rem;
}

.cancelButton{
    margin-top: 2rem;
}

@media(max-width: 81.25em){
    .opcionItem .opcionNombre,
    .opcionItem .opcionCantidad{
        margin-left: 4rem;
    }

    .opcionItem button{
        opacity: 1;
        visibility: visible;
    }
}

@media(max-width: 37.5em){
    .formOptions{
        justify-content: flex-start;
    }
}

@media(max-width: 25em){
    .formOptions{
        flex-wrap: wrap;
        & button{
            flex-basis: 33%;
        }
    }
}