.formTitle{
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
}

.etiquetaOption{
    font-size: 2rem;
    background-color: rgba(255, 219, 151, 0.745);
    margin: .5rem 1rem;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: 2rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.activeEtiqueta{
    color: white;
    background-color: orange;
    box-shadow: 0px 7px 13px -7px rgba(255, 115, 0, 0.952);
    font-weight: 600;
}

.etiquetasContainer{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 1rem;
}