.recipeCommentsContainer{
    color: #23130d;
    border-radius: 2rem;
    margin-top: 2rem;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.525);
    border: .2rem solid white;
    box-shadow: 0 8px 32px rgba(236, 236, 236, 0.637);
    height: max-content;
}

.recipeCommentsTitle {
    font-size: 2rem;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    color: rgb(80, 27, 0);
    margin-bottom: 1rem;
}

.recipeCommentPagination{
    margin-top: 1rem;
}

.noComments{
    font-size: 1.6rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    margin-bottom: 1rem;
}