.recipeNutritionContainer{
    color: #23130d;
    border-radius: 2rem;
    margin-top: 2rem;
    padding: 1.5rem;
    background: rgb(241,180,52);
    background: -moz-linear-gradient(45deg, rgba(241,180,52,1) 27%, rgba(252,115,2,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(241,180,52,1) 27%, rgba(252,115,2,1) 100%);
    background: linear-gradient(45deg, rgba(241,180,52,1) 27%, rgba(252,115,2,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f1b434",endColorstr="#fc7302",GradientType=1);  

    box-shadow: 0 8px 32px rgba(255, 170, 91, 0.637);
    height: max-content;
    width: 100%;
}

.recipeContentsText{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.recipeNutritionTable{
    padding: 0 1rem 1rem 1rem;
    
    & h5{
        font-size: 1.8rem !important;
    }
}

.infoContainer{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.advise{
    font-size: 1.6rem;
    color: white;
    margin: 1rem 3rem 0 3rem;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    text-align: justify;
}

@media(max-width: 68.75em){
    .recipeHeaderRatingFormContainer{
        width: 100% !important;
        margin-top: 0;
    }
    .recipeHeaderRatingFormContainer{
        max-width: 100%;
    }

    .recipeNutritionTable{
        width: 40rem;
        margin: 0 auto;
    }
    .recipeContentsText{
        text-align: center;
    }
}

@media(max-width: 37.5em){
    .recipeNutritionTable{
        width: 100%;
        margin: 0 auto;
    }

    .recipeNutritionContainer{
        margin-top: 2rem;
    }
}