.recipePickerContainer{
    position: fixed;
    background-color: rgb(255, 240, 222);
    margin: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.3);
    width: 85vw;
    height: 85vh;
    z-index: 5;
    border-radius: 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.433);
    padding: 2rem;
    overflow-y: scroll;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.activePicker{
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.darkenedBack{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.567);
    z-index: 2;
    content: "";
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.activeDarkenedBack{
    z-index: 4;
    opacity: 1;
    visibility: visible;
}

.recipePicker{
    margin-top: 1rem;
}

.filterOptions{
    display: flex;
    margin-right: 1rem;
}

.filterOptionsContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.rightSidebarClose{
    /*top: 1.5rem;
    right: -47rem;*/
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    position: fixed;
    border: .1rem solid #212322;
    z-index: 12;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-family: "Oswald", sans-serif;
    font-weight: 900;
    opacity: 0;
    visibility: hidden;
}

.activeClose{
    visibility: visible;
    opacity: 1;
}

.rightSidebarClose:hover{
    color: white;
    background-color: #212322;
}

.usersNotFound{
    font-size: 3rem;
    color: #23130d;
    text-align: center;
    margin-top: 3rem;
    font-family: "Oswald", sans-serif;
}

@media(max-width: 56.25em){
    .usersNotFound{
        font-size: 2rem;
    }
}


@media(max-width: 62.5em){
    .recipePickerContainer{
        top: 0%;
        left: 0;
        width: 95vw;
        transform: translate(0%, 0%);
        height: 100%;
    }
    .rightSidebarClose{
        top: 1rem;
        right: 1rem;
    }
}

@media(max-width: 37.5em){
    .recipePickerContainer{
        margin: .5rem;
        width: 99vw;
        height: 90vh;
    }
    .filterOptionsContainer{
        flex-direction: column-reverse;
    }
    .filterOptions{
        margin-top: 1rem;
    }
}